@font-face {
    font-family: Jua;
    src: url(../resource/BMJUA_otf.otf);
}

#sunbbang {
    font-family: Jua;
    color: black;
    font-size: 64px;
    
}
#content {
    margin: 0;
    height: 100%;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

a:hover {
    text-decoration: none;
}
#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}


h3 {
    margin:  19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}
.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px black;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    position: relative;
            
}
.box.var_sex {
    width: 20%
}
.var {
    display: block;
    position: relative;
    width: 100%;
    background-color: #f0e8d9;
    height: 29px;
    border: none;
    font-size: 15px;
}

input {
    font-family: Dotum,'돋움' ,Helvetica, sans-serif;
}

.box .var_id {
    padding-right: 110px;
}

.box .var_pass {
    padding-right: 40px;
}

.box .var_pass_check {
    padding-right: 40px;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
    padding-left: 10px;
}
#bir_dd{
    display: table-cell;
    width: 147px;
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.btn_area{
    margin: 30px 0 91px;
    
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    background-color: #F4A460;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;

}


.sel {
    background-color: #f0e8d9;
}

#postbtn {
    margin: 30px 0 40px;
}

#post {
    width: 30%;
    padding: 18px 0 13px;
    border: 0;
    cursor: pointer;
    background-color: #F4A460;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}