#mypage_btn {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    background-color: #F4A460;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}