@font-face {
  font-family: Jua;
  src: url(../resource/BMJUA_otf.otf);
}

#BrandName {
  font-family: Jua;
  font-size: 32px;
}

body {
  background-color: #f0e8d9;
}

.nav-item {
  font-family: Jua;
  font-size: 16px;
  color: #58595b;
}

.logoutBtn,
.logoutBtn:active,
.logoutBtn:visited,
.logoutBtn:focus {
  background: none;
  border: none;
  outline: none;
}

.grade,
.grade:hover {
  width: 120px;
  border: 0px solid #58595b;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  color: #58595b !important;
  cursor: default;
}

.grade-member {
  background-color: rgb(252, 255, 169);
}

.grade-identification {
  background-color: rgb(169, 189, 255);
}
